@import "font-awesome.min.css";
@import "pager.css";

.clear{clear: both;}
#search-loading{
    position: relative;
    height: 10rem;
    width: 76rem;
    margin-top: 25px;
}
.searchResults{
    margin-top: 20px;
    /*padding-left: 16px;*/
}
dl{
    font-size: 16px;
    line-height: 1.125rem;
    margin-bottom: 0.8125rem;
    list-style-position: outside;
    font-family: inherit;
}
.search-results-list dt{
    margin-bottom: .35rem;
    line-height: 20px;
}
.search-results-title{
    padding-bottom: 0;
    padding-top: 10px;
}
dt a{color: #333;}
.search-results-list dd{
    margin-bottom: 1.125rem;
}
#searchResultsList p{
    font-size: 1.25rem;
    margin-bottom: 2px;
}