html, body {
    position: relative;
    height: 100%;
    min-height: 100%;
}
.hot-search a{
    color: #337ab7;
}
body {
    background: #ffffff;
    font-family: "Microsoft YaHei",Helvetica Neue, Helvetica, Arial, sans-serif,"宋体";
    font-size: 14px!important;
    color:#000;
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 15px 0;
    font-size: 20px;
}
.container-fluid{
    margin: 0 30px !important;
}
.navbar-brand{
    font-size: 30px !important;
}
.bg-white{
    background-color: #f8f9fa!important;
    border: 1px solid #e9ecef!important;
    border-color: #fff!important;
    display:table;
}
.border-white{
    border: 1px solid #e9ecef!important;
    border-color: #fff!important;
    display: table-cell;
}
.footer{
    border-top: 1px solid #e7e7e7;
    color: #000;
    padding: 19px 0;
    background-color: #f8f8f8;
    width: 100%;
    height: 200px;/* Set the fixed height of the footer here */
}
.headingbox{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    display:flex;
    display:-webkit-flex; /* Safari */
    flex-flow:row;/*决定是按行排列还是按行排列*/
    align-items:center;
    text-align:center;  
    justify-content:center;
}
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
.searchItem{
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    margin: 20px 120px;
    display:flex;
    display:-webkit-flex; /* Safari */
    flex-flow:row;/*决定是按行排列还是按行排列*/
    align-items:center;
    text-align:center;  
    justify-content:space-around;
}
.mainDiv{
    /*min-height:100%;*/
    height:auto!important;
    height:1020px;
    position:relative;
    padding: 20px;
    margin-top: 75px;
}
/* Custom Styles */
ul.nav-tabs{
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
    border-top: none;
}
ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
    top: 125px; /* Set the top position of pinned element */
}
.vspace-1{
    margin-bottom: 15px;
}
.word{
    font-size:20px;
    color: #0088cc;
}
.def{
    font-size:16px;
    color:#8e8e8e;
}
.coor{
    font-size:12px;
    color:#CCCCCC;
}
.tooltip-inner{
    text-align:left;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyimg{
    width: 100%;
    height: 100%;
}
.hot-search{
    /*display: flex;
    justify-content: flex-start;*/
    padding-top: 40px;
    padding-left: 16px;
}
.hot-search-items{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
.sex{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
    align-items: center;
}
.notice{
    font-weight:bold; 
    padding-left:10px;
    padding-bottom: 10px;
}
.plus-minus{
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    align-items: center;
}
.inline-items{
    padding: 5px
}
.main-item-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.searchORback{
    display: flex;
    flex-flow: row;
    justify-content:flex-end;
    align-items: center;
    padding-right:20px;
}

.globalDimension1{
    background-image: url('../images/人体数据图.png');
    width: 80%;
    height: 580px;
    background-position: 0 -1898px;
    background-size: 555%;
    margin: 0 auto
}

.line{
    width: 80%;
    border: 3px solid black;
    margin: 0 auto;
}
.globalDimension2{
    overflow: hidden;
    position: relative;
}
.globalDimension2-1{
    display: inline-block;
    background-image: url('../images/系统waffle图.png');
    width: 60%;
    height: 326px;
    background-size: 93%;
    background-position: 17px 15px;

}
.globalDimension2-2{
    position: absolute;
    background-image: url("../images/系统waffle图.png");
    width: 60%;
    height: 326px;
    background-size: 93%;
    right: -295px;
    top: 14px;
    background-position: 0 -320px;
}
.apparatusDimension{
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}
.apparatusDimension img{
    width: 40%;
    margin: 0 auto;
}
.absoluteFre{
    width: 50%;
    height: 450px;
    background-image: url("../images/心脏绝对频率折线图.png");
    background-position: 0 -80px;
    background-size: 103%;
}
.relativeFre{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 450px;
    background-image: url("../images/心脏相对频率折线图.png");
    background-position: 0 -80px;
    background-size: 103%;
}
.jgPic{
    display: inline-block;
    width: 22%;
    height: 310px;

    background-image: url("../images/肌骨系统.png");
    background-size: 105%;
    background-position: 30px 0;
}
.hxPic{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 80px;
    width: 20%;
    height: 290px;

    background-image: url("../images/呼吸系统.png");
    background-size: 110%;
}
.xhPic{
    display: inline-block;
    width: 24%;
    height: 290px;
    background-position: -14px 0;

    background-image: url("../images/消化系统.png");
    background-size: 121%;
}
.xxgPic{
    position: absolute;
    top: 0;
    right: 80px;
    display: inline-block;
    width: 24%;
    height: 310px;

    background-image: url("../images/心血管系统.png");
    background-position: 0 -90px;
    background-size: 121%;
}

.female1{
    background-image: url("../images/女子六大系统 .png");
    width: 120px;
    height: 265px;
    background-size: 430%;
    background-position: -210px -290px;
}
.female2{
    background-image: url("../images/女子六大系统 .png");
    width: 120px;
    height: 290px;
    background-size: 430%;
    background-position: -396px 0;
    position: absolute;
    top: 10px;
    left: 85px;
}
.female3{
    background-image: url("../images/女子六大系统 .png");
    width: 120px;
    height: 268px;
    background-size: 430%;
    background-position: 0 -290px;
    position: absolute;
    top: -10px;
    right: 50px;
}
.female4{
    background-image: url("../images/女子六大系统 .png");
    width: 120px;
    height: 290px;
    background-size: 430%;
    position: absolute;
    left: 50px;
    top: 400px;
}
.female5{
    background-image: url("../images/女子六大系统 .png");
    width: 120px;
    height: 290px;
    background-size: 430%;
    background-position: -210px 0;
    position: absolute;
    right: 50px;
    top: 400px;
}
.radarPic{
    background-image: url("../images/雷达图.png");
    background-size: 100%;
    width: 500px;
    height: 420px;
    position: absolute;
    top: 110px;
    left: 220px;
}

.inline-items input{
    width: 350px;
}